/* Container f체r alle Cards in einer Reihe */
.card-row {
    display: flex;        /* nebeneinander statt untereinander */
    flex-wrap: wrap;      /* wenn kein Platz -> in die n채chste Zeile umbrechen */
    gap: 1.5rem;            /* Abstand zwischen den Cards */
}

/* Einzelne Card */
.card {
    flex: 0 0 250px;      /* Basisbreite ~250px, kein automatisches Mitwachsen */
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #f3f3f3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}



/* OPTIONAL */

/* Typo ein bisschen h체bsch machen (optional) */
.card h2 {
    margin: 0 0 0.5rem;
}

.card p {
    margin: 0;
}

/* html h체bsch machen (optional) */
body {
    margin: 0px;
    padding: 1.5rem;
}
